# In .gitignore

# Python virtual environment
cogniverse_env/

# Python cache files
__pycache__/

# Secret environment variables
.env

# Generated data and vector stores
figures/
processed_data/
vector_store_chroma/